video-creator{
    display: block;
    width: 100%;
    background-color: var(--white);
    border-radius: 5px;
    padding: 20px;
}
.actions-section{
    display: flex;
    margin-bottom: 10px;
}
.delete-video{
    margin-left: 10px;
}
.paragraph-video{
    width: 400px;
}
.section-header{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}
.section-content{
    display: flex;
}
.video-duration{
    display: flex;
}
video-creator .right-margin{
    margin-right: 10px;
}
.save-video-duration{
    margin-top: 23px;
    margin-left: 10px;
}